on: publish

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
      - name: Test
        run: yarn test --ci --coverage --maxWorkers=2
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
